# Auto reload modules

In [39]:
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [40]:
import pandas as pd
import sqlite3 as db
import fs
# from fs.path import combine
import module.dir_utils as dir_utils
import module.transformations as trans

# Directories

In [41]:
DB_DIR = fs.open_fs("../data/external/DataBase")
DIR_TAG_LOGGING = DB_DIR.getsyspath("HMI_RT_5_TagLoggingDatabase.db3")
DIR_TAG_HMI_RT_5_TLG1889 = DB_DIR.opendir("HMI_RT_5_TLG1889")
DIR_TAG_HMI_RT_5_TLG1893 = DB_DIR.opendir("HMI_RT_5_TLG1893")
DIR_TAG_HMI_RT_5_TLG1895 = DB_DIR.opendir("HMI_RT_5_TLG1895")
DIR_TAG_HMI_RT_5_TLG1897 = DB_DIR.opendir("HMI_RT_5_TLG1897")
DIR_TAG_HMI_RT_5_TLG1904 = DB_DIR.opendir("HMI_RT_5_TLG1904")

In [42]:
CSV_DIR = fs.open_fs("../data/processed")

# Logs files paths
CSV_DIR_LOGS = dir_utils.mkdir(CSV_DIR, "logs")
DIR_LOG = CSV_DIR_LOGS.getsyspath("log.csv")
DIR_LoggingTag_notna = CSV_DIR_LOGS.getsyspath("LoggingTag_notna.csv")

# Databases files paths
CSV_DIR_TLG1889 = dir_utils.mkdir(CSV_DIR, "TLG1889")
DIR_TLG1889 = CSV_DIR_TLG1889.getsyspath("TLG1889.csv")

CSV_DIR_TLG1893 = dir_utils.mkdir(CSV_DIR, "TLG1893")
DIR_TLG1893 = CSV_DIR_TLG1893.getsyspath("TLG1893.csv")

CSV_DIR_TLG1895 = dir_utils.mkdir(CSV_DIR, "TLG1895")
DIR_TLG1895 = CSV_DIR_TLG1895.getsyspath("TLG1895.csv")

CSV_DIR_TLG1897 = dir_utils.mkdir(CSV_DIR, "TLG1897")
DIR_TLG1897 = CSV_DIR_TLG1897.getsyspath("TLG1897.csv")

CSV_DIR_TLG1904 = dir_utils.mkdir(CSV_DIR, "TLG1904")
DIR_TLG1904 = CSV_DIR_TLG1904.getsyspath("TLG1904.csv")

# Code

In [43]:
# Create connection to the DB
conn= db.connect(DIR_TAG_LOGGING)

In [44]:
df_log = pd.read_sql_query('SELECT * from Log;',conn)
df_log.loc[:, 'table_name'] = df_log['Name'].str.split('::').str[-1]
# Save to CSV
df_log.to_csv(DIR_LOG, encoding='utf-8', index=False)

df_log

,ObjectId,Name,DisabledState,Location,TimePeriod,StorageMode,SegmentTimePeriod,BackupStrategy,SegmentStartingTime,MaxSize,SegmentMaxSize,ProductSource,Version,PrimaryBackupPath,SecondaryBackupPath,StartTime,EndTime,table_name
0,1889,HMI_RT_5::Descarga,0,D:\DataBase,103680000000000,0,6048000000000,0,132406029160000000,1000,100,None,0,,,2021-09-28 23:18:52.000,None,Descarga
1,1893,HMI_RT_5::Transferencia,0,D:\DataBase,103680000000000,0,6048000000000,0,132406029210000000,1000,100,None,0,,,2021-09-28 23:18:52.000,None,Transferencia
2,1895,HMI_RT_5::Recupero,0,D:\DataBase,103680000000000,0,6048000000000,0,132406029230000000,1000,100,None,0,,,2021-09-28 23:18:52.000,None,Recupero
3,1897,HMI_RT_5::CIP,0,D:\DataBase,103680000000000,0,6048000000000,0,132406029310000000,1000,100,None,0,,,2021-09-28 23:18:52.000,None,CIP
4,1904,HMI_RT_5::Planta,0,D:\DataBase,103680000000000,0,6048000000000,0,132406848560000000,1000,100,None,0,,,2021-09-28 23:18:52.000,None,Planta
5,2315,HMI_RT_5::Barrido,0,D:\DataBase,103680000000000,0,6048000000000,0,132417335850000000,1000,100,None,0,,,2021-09-28 23:18:52.000,None,Barrido
6,2969,HMI_RT_5::RepTrans,0,D:\DataBase,103680000000000,0,6048000000000,0,132472622670000000,1000,100,None,0,,,2021-09-28 23:18:52.000,None,RepTrans

In [45]:
df_LoggingTag = pd.read_sql_query('SELECT pk_Key, TagObjectId, LoggingTagId, fk_LogId, Name, DataType, pk_StartTime, EndTime from LoggingTag;',conn)
# df_LoggingTag.to_csv('LoggingTag.csv', encoding='utf-8', index=False)
df_LoggingTag

,pk_Key,TagObjectId,LoggingTagId,fk_LogId,Name,DataType,pk_StartTime,EndTime
0,1,1351,687865857,NaN,HMI_RT_5::FT-200-A-1-DB_oValue:FIT-Transferencia,10,132773453328968868,1.327882e+17
1,1,1351,687865857,1904.0,HMI_RT_5::FT-200-A-1-DB_oValue:FIT-Transferencia,10,132788173370000000,NaN
2,2,1360,687865857,NaN,HMI_RT_5::FT-200-A-2-DB_oValue:FIT-Descarga,10,132773453328969543,1.327882e+17
3,2,1360,687865857,1904.0,HMI_RT_5::FT-200-A-2-DB_oValue:FIT-Descarga,10,132788173370000000,NaN
4,3,1408,687865857,NaN,HMI_RT_5::LTP-300-B-1-DB_oValue:NivelSiloSQ,10,132773453328969594,1.327882e+17
...,...,...,...,...,...,...,...,...
139,70,3314,687865857,1897.0,HMI_RT_5::CIP_Pasos:cPasos,14,132788173370000000,NaN
140,71,3315,687865857,NaN,HMI_RT_5::RECType:rSec,14,132773453328974396,1.327882e+17
141,71,3315,687865857,1895.0,HMI_RT_5::RECType:rSec,14,132788173370000000,NaN
142,72,2504,687865857,NaN,HMI_RT_5::SP_Desc_PV_Temp_Desc:Temperatura,10,132774157580917529,1.327882e+17
143,72,2504,687865857,1889.0,HMI_RT_5::SP_Desc_PV_Temp_Desc:Temperatura,10,132788173370000000,NaN

In [46]:
pd.options.mode.copy_on_write = True 
df_LoggingTag_notna = df_LoggingTag[df_LoggingTag['fk_LogId'].notna()]
df_LoggingTag_notna.loc[:, 'tag_name'] = df_LoggingTag_notna['Name'].str.split(':').str[-1]

# Save to CSV
df_LoggingTag_notna.to_csv(DIR_LoggingTag_notna, encoding='utf-8', index=False)

df_LoggingTag_notna

,pk_Key,TagObjectId,LoggingTagId,fk_LogId,Name,DataType,pk_StartTime,EndTime,tag_name
1,1,1351,687865857,1904.0,HMI_RT_5::FT-200-A-1-DB_oValue:FIT-Transferencia,10,132788173370000000,NaN,FIT-Transferencia
3,2,1360,687865857,1904.0,HMI_RT_5::FT-200-A-2-DB_oValue:FIT-Descarga,10,132788173370000000,NaN,FIT-Descarga
5,3,1408,687865857,1904.0,HMI_RT_5::LTP-300-B-1-DB_oValue:NivelSiloSQ,10,132788173370000000,NaN,NivelSiloSQ
7,4,1417,687865857,1904.0,HMI_RT_5::LTR-400-A-1-DB_oValue:NivelTK1,10,132788173370000000,NaN,NivelTK1
9,5,1426,687865857,1904.0,HMI_RT_5::LTR-400-A-2-DB_oValue:NivelTk2,10,132788173370000000,NaN,NivelTk2
...,...,...,...,...,...,...,...,...,...
135,68,3312,687865858,1897.0,HMI_RT_5::CIPType:cSecuencia,14,132788173370000000,NaN,cSecuencia
137,69,3313,687865857,1897.0,HMI_RT_5::CIP_Operador:cOperador,14,132788173370000000,NaN,cOperador
139,70,3314,687865857,1897.0,HMI_RT_5::CIP_Pasos:cPasos,14,132788173370000000,NaN,cPasos
141,71,3315,687865857,1895.0,HMI_RT_5::RECType:rSec,14,132788173370000000,NaN,rSec
143,72,2504,687865857,1889.0,HMI_RT_5::SP_Desc_PV_Temp_Desc:Temperatura,10,132788173370000000,NaN,Temperatura

In [47]:
# Close conncection
conn.close()

## TLG1889

In [48]:
df_TLG1889 = trans.get_fulldf(DIR_TAG_HMI_RT_5_TLG1889)
df_TLG1889.to_csv(DIR_TLG1889, encoding='utf-8', index=False)
df_TLG1889

Error processing database at /HMI_RT_5_TLG1889_20240704_171516.db3-shm: Execution failed on sql 'SELECT * FROM LoggedProcessValue;': no such table: LoggedProcessValue

            pk_TimeStamp  pk_fk_Id  Quality         Value
0     133543256452488937        12      192  6.913828e+01
1     133543256452488937        14      192  9.080669e+06
2     133543256452488937        16      192  3.694589e+04
3     133543256452488937        17      192  0.000000e+00
4     133543256452488937        18      192  0.000000e+00
...                  ...       ...      ...           ...
7105  133651050158979129        19      192  0.000000e+00
7106  133651050158979129        20      192  0.000000e+00
7107  133651050158979129        22      192  0.000000e+00
7108  133651050158979129        72      192  5.446369e+01
7109  133651050158979129        52      192  2.535405e+04

[7110 rows x 4 columns]

## TLG1893

In [49]:
df_TLG1893 = trans.get_fulldf(DIR_TAG_HMI_RT_5_TLG1893)
df_TLG1893.to_csv(DIR_TLG1893, encoding='utf-8', index=False)
df_TLG1893

Error processing database at /HMI_RT_5_TLG1893_20240704_171521.db3-shm: Execution failed on sql 'SELECT * FROM LoggedProcessValue;': no such table: LoggedProcessValue

             pk_TimeStamp  pk_fk_Id  Quality         Value
0      133543067468902405        23      192      1.000000
1      133543067468902405        24      192      0.000000
2      133543067468902405        25      192      0.000000
3      133543067468902405        26      192      0.000000
4      133543067468902405        27      192  12210.074219
...                   ...       ...      ...           ...
34942  133651168270224271        27      192   3170.078125
34943  133651168270224271        28      192     69.152336
34944  133651168270224271        29      192     51.537434
34945  133651168270224271        31      192   2192.709229
34946  133651168270224271        53      192   1341.437378

[34947 rows x 4 columns]

## TLG1895

In [50]:
df_TLG1895 = trans.get_fulldf(DIR_TAG_HMI_RT_5_TLG1895)
df_TLG1895.to_csv(DIR_TLG1895, encoding='utf-8', index=False)
df_TLG1895

Error processing database at /HMI_RT_5_TLG1895_20210928_231852.db3-shm: Execution failed on sql 'SELECT * FROM LoggedProcessValue;': no such table: LoggedProcessValue

Empty DataFrame
Columns: [pk_TimeStamp, pk_fk_Id, Quality, Value]
Index: []

## TLG1897

In [51]:
df_TLG1897 = trans.get_fulldf(DIR_TAG_HMI_RT_5_TLG1897)
df_TLG1897.to_csv(DIR_TLG1897, encoding='utf-8', index=False)
df_TLG1897

Error processing database at /HMI_RT_5_TLG1897_20240328_171531.db3-shm: Execution failed on sql 'SELECT * FROM LoggedProcessValue;': no such table: LoggedProcessValue

          pk_TimeStamp  pk_fk_Id  Quality         Value
0   133558715071540869        36      192     60.000000
1   133558715071540869        41      192      8.991072
2   133558715071540869        42      192     28.420465
3   133558715071540869        43      192   4507.729980
4   133558715071540869        47       76      0.000000
..                 ...       ...      ...           ...
90  133639134877389100        36      192     60.000000
91  133639134877389100        41      192     12.059043
92  133639134877389100        42      192     29.031475
93  133639134877389100        43      192  13444.858398
94  133639134877389100        47       76      0.000000

[95 rows x 4 columns]

# TLG1904

In [52]:
df_TLG1904 = trans.get_fulldf(DIR_TAG_HMI_RT_5_TLG1904)
df_TLG1904.to_csv(DIR_TLG1904, encoding='utf-8', index=False)
df_TLG1904

Error processing database at /HMI_RT_5_TLG1897_20240328_171531.db3-shm: Execution failed on sql 'SELECT * FROM LoggedProcessValue;': no such table: LoggedProcessValue

                pk_TimeStamp  pk_fk_Id  Quality        Value
0         132478560561901178         1      192     5.059040
1         132478560561901178         2      192     7.227200
2         132478560561901178         3      192     0.036136
3         132478560561901178         4      192    97.104660
4         132478560561901178         5      192    96.457825
...                      ...       ...      ...          ...
15584543  133651180570537120        11      192    69.305954
15584544  133651180570537120        15      192    48.271915
15584545  133651180570537120        48      192    69.045776
15584546  133651180570537120        50      192  1341.833008
15584547  133651180570537120        51      192    36.601433

[15584548 rows x 4 columns]