# Auto reload modules

In [1]:
%load_ext autoreload
%autoreload 2

# Directories

In [2]:
import pandas as pd
import fs

In [7]:
CSV_DIR = fs.open_fs("../data/processed")
DIR_LOG = CSV_DIR.opendir("logs")
DIR_TLG1889 = CSV_DIR.opendir("TLG1889")

In [8]:
df_log = pd.read_csv(DIR_LOG.getsyspath("log.csv"))
df_log

,ObjectId,Name,DisabledState,Location,TimePeriod,StorageMode,SegmentTimePeriod,BackupStrategy,SegmentStartingTime,MaxSize,SegmentMaxSize,ProductSource,Version,PrimaryBackupPath,SecondaryBackupPath,StartTime,EndTime,table_name
0,1889,HMI_RT_5::Descarga,0,D:\DataBase,103680000000000,0,6048000000000,0,132406029160000000,1000,100,NaN,0,NaN,NaN,2021-09-28 23:18:52.000,NaN,Descarga
1,1893,HMI_RT_5::Transferencia,0,D:\DataBase,103680000000000,0,6048000000000,0,132406029210000000,1000,100,NaN,0,NaN,NaN,2021-09-28 23:18:52.000,NaN,Transferencia
2,1895,HMI_RT_5::Recupero,0,D:\DataBase,103680000000000,0,6048000000000,0,132406029230000000,1000,100,NaN,0,NaN,NaN,2021-09-28 23:18:52.000,NaN,Recupero
3,1897,HMI_RT_5::CIP,0,D:\DataBase,103680000000000,0,6048000000000,0,132406029310000000,1000,100,NaN,0,NaN,NaN,2021-09-28 23:18:52.000,NaN,CIP
4,1904,HMI_RT_5::Planta,0,D:\DataBase,103680000000000,0,6048000000000,0,132406848560000000,1000,100,NaN,0,NaN,NaN,2021-09-28 23:18:52.000,NaN,Planta
5,2315,HMI_RT_5::Barrido,0,D:\DataBase,103680000000000,0,6048000000000,0,132417335850000000,1000,100,NaN,0,NaN,NaN,2021-09-28 23:18:52.000,NaN,Barrido
6,2969,HMI_RT_5::RepTrans,0,D:\DataBase,103680000000000,0,6048000000000,0,132472622670000000,1000,100,NaN,0,NaN,NaN,2021-09-28 23:18:52.000,NaN,RepTrans

In [5]:
df_TLG1889 = pd.read_csv(DIR_TLG1889.getsyspath("TLG1889.csv"))
df_TLG1889

           pk_TimeStamp  pk_fk_Id  Quality         Value
0    133539005217964279        12      192  6.931463e+01
1    133539005217964279        14      192  8.391804e+06
2    133539005217964279        16      192  3.681503e+04
3    133539005217964279        17      192  0.000000e+00
4    133539005217964279        18      192  0.000000e+00
..                  ...       ...      ...           ...
845  133549028842115583        19      192  0.000000e+00
846  133549028842115583        20      192  0.000000e+00
847  133549028842115583        22      192  0.000000e+00
848  133549028842115583        72      192  5.219872e+01
849  133549028842115583        52      192  2.536385e+04

[850 rows x 4 columns]