# Auto reload modules

In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
import module.dir_utils as dir_utils
import pandas as pd
import fs

# Directories

In [3]:
CSV_DIR = fs.open_fs("../data/processed")
DIR_TLG1889 = CSV_DIR.opendir("TLG1889")
DIR_TLG1893 = CSV_DIR.opendir("TLG1893")
DIR_TLG1895 = CSV_DIR.opendir("TLG1895")
DIR_TLG1897 = CSV_DIR.opendir("TLG1897")
DIR_TLG1904 = CSV_DIR.opendir("TLG1904")

In [4]:
DIR_TLG1889_stream = DIR_TLG1889.getsyspath("TLG1889_stream.csv")
DIR_TLG1893_stream = DIR_TLG1893.getsyspath("TLG1893_stream.csv")
DIR_TLG1895_stream = DIR_TLG1895.getsyspath("TLG1895_stream.csv")
DIR_TLG1897_stream = DIR_TLG1897.getsyspath("TLG1897_stream.csv")
DIR_TLG1904_stream = DIR_TLG1904.getsyspath("TLG1904_stream.csv")

# Final
DIR_TLG1893_stream_final = DIR_TLG1893.getsyspath("TLG1893_stream_final.csv")
DIR_TLG1904_stream_final = DIR_TLG1904.getsyspath("TLG1904_stream_final.csv")

CSV_DIR_FINAL = dir_utils.mkdir(CSV_DIR, "final")
DIR_TLG_SF = CSV_DIR_FINAL.getsyspath("TLG_SF.csv")

In [5]:
df_TLG1889_stream = pd.read_csv(DIR_TLG1889_stream)
df_TLG1893_stream = pd.read_csv(DIR_TLG1893_stream)
df_TLG1895_stream = pd.read_csv(DIR_TLG1895_stream)
df_TLG1897_stream = pd.read_csv(DIR_TLG1897_stream)
df_TLG1904_stream = pd.read_csv(DIR_TLG1904_stream)

In [6]:
df_TLG1904_stream.shape

(519736, 8)

In [7]:
df_TLG1904_stream["tag_name"].value_counts()

tag_name
NivelTK1             81863
PT-Descarga          60375
PT-Transferencia     60287
NivelSiloSQ          59507
NivelTk2             57860
FIQ-D                56499
TempSiloSQ           54450
FIT-Transferencia    47214
FIT-Descarga         41681
Name: count, dtype: int64

In [8]:
TLG1904_stream_final = df_TLG1904_stream[["pk_TimeStamp", "Value", "tag_name"]]
TLG1904_stream_final.to_csv(DIR_TLG1904_stream_final, encoding='utf-8', index=False)
TLG1904_stream_final

              pk_TimeStamp      Value           tag_name
0       132478560561901178   5.059040  FIT-Transferencia
1       132478560571976221   3.794280  FIT-Transferencia
2       132478560581985734   2.529520  FIT-Transferencia
3       132478560591925804   3.794280  FIT-Transferencia
4       132478560601916092   2.529520  FIT-Transferencia
...                    ...        ...                ...
519731  132479424481433099  25.374699         TempSiloSQ
519732  132479424511475899  25.371086         TempSiloSQ
519733  132479424521464009  25.374699         TempSiloSQ
519734  132479424541508688  25.381926         TempSiloSQ
519735  132479424551466946  25.389154         TempSiloSQ

[519736 rows x 3 columns]

In [9]:
TLG1904_stream_final.shape

(519736, 3)

In [10]:
df_TLG1893_stream.shape

(34947, 8)

In [11]:
df_TLG1893_stream_final = df_TLG1893_stream[df_TLG1893_stream['tag_name'].isin(['Totalizador_Transferencia', 'BRIX_Promedio', 'Temp_Promedio', 'Trans_KgSecos'])]
df_TLG1893_stream_final = df_TLG1893_stream_final[['pk_TimeStamp', 'Value', 'tag_name']]
df_TLG1893_stream_final.to_csv(DIR_TLG1893_stream_final, encoding='utf-8', index=False)
df_TLG1893_stream_final

             pk_TimeStamp         Value                   tag_name
15532  133543067468902405  12210.074219  Totalizador_Transferencia
15533  133543079289260621   8033.640137  Totalizador_Transferencia
15534  133543111229257914   4964.895996  Totalizador_Transferencia
15535  133543134489783109   5118.520508  Totalizador_Transferencia
15536  133543161780470776   5799.258301  Totalizador_Transferencia
...                   ...           ...                        ...
31059  133651102189696248   4747.120117              Trans_KgSecos
31060  133651109699861165   3443.857422              Trans_KgSecos
31061  133651129581081146   2619.303955              Trans_KgSecos
31062  133651163070180439   4089.279541              Trans_KgSecos
31063  133651168270224271   2192.709229              Trans_KgSecos

[15532 rows x 3 columns]

In [12]:
# Create an unique DF to CSV
df_final = pd.concat([df_TLG1893_stream_final, TLG1904_stream_final])
df_final.to_csv(DIR_TLG_SF, encoding='utf-8', index=False)
df_final.head()

             pk_TimeStamp         Value                   tag_name
15532  133543067468902405  12210.074219  Totalizador_Transferencia
15533  133543079289260621   8033.640137  Totalizador_Transferencia
15534  133543111229257914   4964.895996  Totalizador_Transferencia
15535  133543134489783109   5118.520508  Totalizador_Transferencia
15536  133543161780470776   5799.258301  Totalizador_Transferencia