# Auto reload modules

In [1]:
%load_ext autoreload
%autoreload 2

# Directories

In [26]:
import module.dir_utils as dir_utils
import pandas as pd
import fs

In [3]:
CSV_DIR = fs.open_fs("../data/processed")
DIR_TLG1889 = CSV_DIR.opendir("TLG1889")
DIR_TLG1893 = CSV_DIR.opendir("TLG1893")
DIR_TLG1895 = CSV_DIR.opendir("TLG1895")
DIR_TLG1897 = CSV_DIR.opendir("TLG1897")
DIR_TLG1904 = CSV_DIR.opendir("TLG1904")

In [27]:
DIR_TLG1889_stream = DIR_TLG1889.getsyspath("TLG1889_stream.csv")
DIR_TLG1893_stream = DIR_TLG1893.getsyspath("TLG1893_stream.csv")
DIR_TLG1895_stream = DIR_TLG1895.getsyspath("TLG1895_stream.csv")
DIR_TLG1897_stream = DIR_TLG1897.getsyspath("TLG1897_stream.csv")
DIR_TLG1904_stream = DIR_TLG1904.getsyspath("TLG1904_stream.csv")

# Final
DIR_TLG1893_stream_final = DIR_TLG1893.getsyspath("TLG1893_stream_final.csv")
DIR_TLG1904_stream_final = DIR_TLG1904.getsyspath("TLG1904_stream_final.csv")

CSV_DIR_FINAL = dir_utils.mkdir(CSV_DIR, "final")
DIR_TLG_SF = CSV_DIR_FINAL.getsyspath("TLG_SF.csv")

In [5]:
df_TLG1889_stream = pd.read_csv(DIR_TLG1889_stream)
df_TLG1893_stream = pd.read_csv(DIR_TLG1893_stream)
df_TLG1895_stream = pd.read_csv(DIR_TLG1895_stream)
df_TLG1897_stream = pd.read_csv(DIR_TLG1897_stream)
df_TLG1904_stream = pd.read_csv(DIR_TLG1904_stream)

In [9]:
df_TLG1904_stream["tag_name"].value_counts()

tag_name
NivelTK1                1104628
TempSiloSQ              1040309
TT-Transferencia         971735
NivelSiloSQ              957300
PT-Transferencia         924813
PT-Descarga              918786
TT-Descarga              911711
NivelTk2                 855707
DIT-Transferencia        838008
FIT-Descarga             835405
DIT-Descarga             826479
BRIX-Transferencia       800792
BRIX-Descarga            776523
FIT-Transferencia        760215
FIQ-D                    494338
PresionDescarga             266
PresionTransferencia         11
Name: count, dtype: int64

In [18]:
TLG1904_stream_final = df_TLG1904_stream[["pk_TimeStamp", "Value", "tag_name"]]
TLG1904_stream_final.to_csv(DIR_TLG1904_stream_final, encoding='utf-8', index=False)
TLG1904_stream_final

                pk_TimeStamp     Value              tag_name
0         132478560561901178   5.05904     FIT-Transferencia
1         132478560571976221   3.79428     FIT-Transferencia
2         132478560581985734   2.52952     FIT-Transferencia
3         132478560591925804   3.79428     FIT-Transferencia
4         132478560601916092   2.52952     FIT-Transferencia
...                      ...       ...                   ...
13017021  133639031431303549  60.00000  PresionTransferencia
13017022  133639045815627583   0.00000  PresionTransferencia
13017023  133639045816149517   0.00000  PresionTransferencia
13017024  133639051681504284  60.00000  PresionTransferencia
13017025  133639749606561805  84.00000  PresionTransferencia

[13017026 rows x 3 columns]

In [8]:
df_TLG1893_stream["tag_name"].value_counts()

tag_name
TransModo                    3719
DestinoTK1                   3719
DestinoTK2                   3719
Flujo_Promedio               3719
Totalizador_Transferencia    3719
BRIX_Promedio                3719
Temp_Promedio                3719
Trans_KgSecos                3719
tDensidad                    3719
Name: count, dtype: int64

In [20]:
df_TLG1893_stream_final = df_TLG1893_stream[df_TLG1893_stream['tag_name'].isin(['Totalizador_Transferencia', 'BRIX_Promedio', 'Temp_Promedio', 'Trans_KgSecos'])]
df_TLG1893_stream_final = df_TLG1893_stream_final[['pk_TimeStamp', 'Value', 'tag_name']]
df_TLG1893_stream_final.to_csv(DIR_TLG1893_stream_final, encoding='utf-8', index=False)
df_TLG1893_stream_final

             pk_TimeStamp         Value                   tag_name
14876  133543067468902405  12210.074219  Totalizador_Transferencia
14877  133543079289260621   8033.640137  Totalizador_Transferencia
14878  133543111229257914   4964.895996  Totalizador_Transferencia
14879  133543134489783109   5118.520508  Totalizador_Transferencia
14880  133543161780470776   5799.258301  Totalizador_Transferencia
...                   ...           ...                        ...
29747  133645853429204785   1166.958130              Trans_KgSecos
29748  133645866459403879   2557.077881              Trans_KgSecos
29749  133645869529389774   1156.978271              Trans_KgSecos
29750  133645882889685722   1230.736694              Trans_KgSecos
29751  133645900310223010   1863.364380              Trans_KgSecos

[14876 rows x 3 columns]

In [21]:
df_TLG1893_stream_final.info()

<class 'pandas.core.frame.DataFrame'>
Index: 14876 entries, 14876 to 29751
Data columns (total 3 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   pk_TimeStamp  14876 non-null  int64
 1   Value         14876 non-null  float64
 2   tag_name      14876 non-null  object
dtypes: float64(1), int64(1), object(1)
memory usage: 464.9+ KB

In [32]:
# Create an unique DF to CSV
df_final = pd.concat([df_TLG1893_stream_final, TLG1904_stream_final])
df_final.to_csv(DIR_TLG_SF, encoding='utf-8', index=False)
df_final.head()

             pk_TimeStamp         Value                   tag_name
14876  133543067468902405  12210.074219  Totalizador_Transferencia
14877  133543079289260621   8033.640137  Totalizador_Transferencia
14878  133543111229257914   4964.895996  Totalizador_Transferencia
14879  133543134489783109   5118.520508  Totalizador_Transferencia
14880  133543161780470776   5799.258301  Totalizador_Transferencia