# Run project

In [1]:
%run ./0.0-leng-initial.ipynb

Error processing database at /HMI_RT_5_TLG1893_20240704_171521.db3-shm: Execution failed on sql 'SELECT * FROM LoggedProcessValue;': no such table: LoggedProcessValue
Error processing database at /HMI_RT_5_TLG1895_20210928_231852.db3-shm: Execution failed on sql 'SELECT * FROM LoggedProcessValue;': no such table: LoggedProcessValue
Error processing database at /HMI_RT_5_TLG1897_20240328_171531.db3-shm: Execution failed on sql 'SELECT * FROM LoggedProcessValue;': no such table: LoggedProcessValue
Error processing database at /HMI_RT_5_TLG1904_20240701_175826.db3-shm: Execution failed on sql 'SELECT * FROM LoggedProcessValue;': no such table: LoggedProcessValue

In [2]:
%run ./0.1-leng-processing.ipynb

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [3]:
%run ./0.2-leng-analysing.ipynb

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload
<class 'pandas.core.frame.DataFrame'>
Index: 14876 entries, 14876 to 29751
Data columns (total 3 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   pk_TimeStamp  14876 non-null  int64
 1   Value         14876 non-null  float64
 2   tag_name      14876 non-null  object
dtypes: float64(1), int64(1), object(1)
memory usage: 464.9+ KB

In [4]:
%run ./0.3-leng-saving-sqlite.ipynb

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [6]:
%run ./0.4-leng-create-inf-csv.ipynb

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload
2024-03-03T00:48:41.796401Z